
<form (ngSubmit)="insert()">
    <legend>Form title</legend>

    <div class="form-group">
        <label for="Country">Country</label>
        <input type="text"  class="form-control" name="Country" id="Country" placeholder="Country" [(ngModel)]="world.Country">
    </div>

    <div class="form-group">
        <label for="Year">Year</label>
        <input type="text"  class="form-control" name="Year" id="Year" placeholder="Year" [(ngModel)]="world.Year"> 
    </div>

    <div class="form-group">
        <label for="NoofTeam">Team</label>
        <input type="text"  class="form-control" name="NoofTeam" id="NoofTeam" placeholder="NoofTeam" [(ngModel)]="world.NoofTeam">
    </div>

    <div class="form-group">
        <label for="Venue">Venue</label>
        <input type="text"  class="form-control" name="Venue" id="Venue" placeholder="Venue" [(ngModel)]="world.Venue">
    </div>

    <button type="submit" class="btn btn-primary">Add Record</button>
</form>

